/GameObserverLib/bin/Debug/BinaryImageLib.dll
/GameObserverLib/bin/Debug/ExternalRefs/BinaryImageLib.dll
/GameObserverLib/bin/Debug/ExternalRefs/GameObjectLib.dll
/GameObserverLib/bin/Debug/ExternalRefs/Messaging.dll
/GameObserverLib/bin/Debug/GameObjectLib.dll
/GameObserverLib/bin/Debug/GameObserverLib.dll
/GameObserverLib/bin/Debug/GameObserverLib.pdb
/GameObserverLib/bin/Debug/Messaging.dll
/GameObserverLib/bin/Release/BinaryImageLib.dll
/GameObserverLib/bin/Release/ExternalRefs/BinaryImageLib.dll
/GameObserverLib/bin/Release/ExternalRefs/GameObjectLib.dll
/GameObserverLib/bin/Release/ExternalRefs/Messaging.dll
/GameObserverLib/bin/Release/GameObjectLib.dll
/GameObserverLib/bin/Release/GameObserverLib.dll
/GameObserverLib/bin/Release/GameObserverLib.pdb
/GameObserverLib/bin/Release/Messaging.dll
/GameObserverLib/obj/Release/GameObserverLib.csprojResolveAssemblyReference.cache
/GameObserverTest/bin/Debug/BinaryImageLib.dll
/GameObserverTest/bin/Debug/BinaryImageLib.pdb
/GameObserverTest/bin/Debug/GameObjectLib.dll
/GameObserverTest/bin/Debug/GameObjectLib.pdb
/GameObserverTest/bin/Debug/GameObserverLib.dll
/GameObserverTest/bin/Debug/GameObserverLib.pdb
/GameObserverTest/bin/Debug/GameObserverTest.dll
/GameObserverTest/bin/Debug/GameObserverTest.pdb
/GameObserverTest/bin/Debug/Messaging.dll
/GameObserverTest/bin/Debug/Messaging.pdb
/GameObserverTest/bin/Debug/nunit.framework.dll
/GameObserverTest/bin/Debug/nunit.framework.xml
/GameObserverTest/bin/Release/BinaryImageLib.dll
/GameObserverTest/bin/Release/BinaryImageLib.pdb
/GameObserverTest/bin/Release/GameObjectLib.dll
/GameObserverTest/bin/Release/GameObjectLib.pdb
/GameObserverTest/bin/Release/GameObserverLib.dll
/GameObserverTest/bin/Release/GameObserverLib.pdb
/GameObserverTest/bin/Release/GameObserverTest.dll
/GameObserverTest/bin/Release/GameObserverTest.pdb
/GameObserverTest/bin/Release/Messaging.dll
/GameObserverTest/bin/Release/Messaging.pdb
/GameObserverTest/bin/Release/nunit.framework.dll
/GameObserverTest/bin/Release/nunit.framework.xml
/GameObserverTest/obj/Debug/build.force
/GameObserverLib/bin/Debug/GameObjectLib.pdb
/GameObserverLib/bin/Release/GameObjectLib.pdb
